@font-face {
  font-family: Lowvetica-UltraThin;
  src: url(../font/LowveticaBold.ttf); }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

.padding-top-bottom {
  padding-bottom: 10px !important;
  padding-top: 10px !important; }

.mainAboutWrapper .blueColor {
  color: #008CBA !important; }
.mainAboutWrapper .blueColor:hover {
  color: #016788 !important; }

.margin-top-ten {
  margin-top: 10%; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif, sans-serif;
  color: #222; }

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

/* =============================================================================
   Links
   ========================================================================== */
/*header .row{
  max-width: 62.5rcm!important;
}*/
a {
  color: #666 !important; }

a:visited {
  color: black !important; }

a:hover {
  color: #666  !important; }

a:focus {
  outline: thin dotted !important; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active {
  outline: 0  !important; }

/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 0px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 12% 0px 0px;
  overflow: hidden; }

li {
  float: right;
  margin: 10px; }

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden; }

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #666;
  height: 2px;
  -webkit-transition-property: left,right;
  transition-property: left,right;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-underline-from-center:active:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:hover:before {
  left: 0;
  right: 0; }

nav {
  border-radius: 4px;
  /*box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);*/
  color: #888;
  display: block;
  margin: 13px 3% 0px 0px;
  overflow: hidden;
  /*width: 21%;*/
  font-size: 20px;
  float: right;
  font-family: Lowvetica-UltraThin; }

nav ul {
  margin: 0;
  padding: 0;
  float: right; }

nav ul li {
  display: inline-block;
  list-style-type: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

nav > ul > li > a > .caret {
  border-top: 4px solid #aaa;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  vertical-align: middle;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  transition: color 0.1s linear; }

nav > ul > li > a {
  /* red;color: */
  display: block;
  /* line-height: 62px;*/
  padding: 0 24px;
  text-decoration: none;
  padding: 15px; }

nav > ul > li:hover {
  /*background-color:#666;*/
  /* height: 40px*/ }

nav > ul > li:hover > a {
  color: #666 !important; }

nav > ul > li:hover > a > .caret {
  border-top-color: white; }

nav > ul > li:visited {
  background-color: black; }

nav > ul > li > div {
  background-color: #282c2f;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  display: none;
  margin: 0;
  opacity: 0;
  position: absolute;
  width: 165px;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s; }

nav > ul > li:hover > div {
  display: block;
  opacity: 1;
  visibility: visible; }

nav > ul > li > div ul > li {
  display: block; }

nav > ul > li > div ul > li > a {
  color: #fff;
  display: block;
  padding: 12px 24px;
  text-decoration: none; }

nav > ul > li > div ul > li:hover > a {
  background-color: rgba(255, 255, 255, 0.1); }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button, input {
  line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled], input[disabled] {
  cursor: default; }

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

.contentWrapper {
  width: 40%;
  float: left;
  margin-top: 7%;
  margin-left: 4%; }

#headerText {
  /*margin-left: 10%;*/
  font-family: Lowvetica-UltraThin !important; }

#contentText {
  padding: 30px 20px 20px 0px;
  width: 80%; }

#close {
  /* background-image: url("../img/close-icon.png"); */
  background-repeat: no-repeat;
  /* height: 50px; */
  /* width: 50px; */
  /* float: right; */
  /* margin-top: 20px; */
  margin-left: 20px;
  background-color: #666; }

#showStuff {
  background-color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  display: none;
  overflow-y: scroll; }

.imgWrapper {
  background-color: white;
  width: 460px;
  height: 300px;
  margin-left: 10%;
  float: left;
  margin-top: 5%;
  /* */ }

.img1 {
  background-image: url("http://placehold.it/350x150");
  background-color: white;
  float: left;
  width: 50%;
  height: 150px; }

.padding-5 {
  padding: 5px; }

.img2 {
  background-image: url("http://placehold.it/350x150");
  background-color: blue;
  float: left;
  width: 50%;
  height: 150px; }

.img3 {
  background-image: url("http://placehold.it/350x150");
  background-color: green;
  float: left;
  width: 100%;
  height: 183px;
  margin-top: 2%; }

.mainAboutWrapper .links {
  margin: 1% 0px 0px 0px;
  padding-left: 5%; }

/* ==|== primary styles =====================================================
   Author: Luke Shumard (lukeshumard.com)
   ========================================================================== */
#content {
  /*width: 980px;*/
  /*width: 95%;*/
  width: auto;
  margin: 0 auto;
  margin-top: 2%; }

#pageInfo {
  width: 100%;
  height: 500px; }

.item {
  display: block;
  float: left;
  width: 300px;
  margin: 0 20px 20px 0;
  -webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -moz-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -ms-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -o-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  transition: left .4s ease-in-out, top .4s ease-in-out .4s; }

.featured {
  width: 620px; }

.item img {
  width: 300px;
  height: auto; }

.item:hover {
  opacity: 0.5; }

.featured img {
  width: 620px;
  height: auto; }

/* Titles */
h1 {
  font-family: Lowvetica-UltraThin;
  font-weight: normal;
  font-size: 1.2em !important;
  text-transform: uppercase;
  color: #000;
  letter-spacing: .2em;
  line-height: 1;
  text-align: center;
  margin: 0;
  display: inline; }
  h1 a {
    color: #000; }

h2 {
  font-family: Lowvetica-UltraThin !important;
  font-size: 1.3em !important;
  text-decoration: none; }

header {
  text-align: center;
  /*	margin-top: 0.8em;*/
  height: 140px; }

#logo {
  font-family: Lowvetica-UltraThin;
  /*  width: 30%;*/
  margin-top: 45px;
  float: left;
  font-size: 30px;
  padding-top: 40px; }

#darkBg {
  background-color: black;
  height: 1000px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  opacity: 0.5;
  display: none;
  left: 0; }

.lightBoxOverlay {
  float: left;
  position: fixed;
  left: 20%;
  top: 0;
  z-index: 1000;
  display: block;
  width: 60%;
  height: 100%;
  overflow: hidden; }

/*header:after {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  margin: 0.8em auto;
  background-color: #111;
}*/
#lightBoxWrapper {
  width: 100%;
  height: 100px; }

#headerTop {
  background-color: #666;
  top: 0;
  height: 20px; }

footer {
  height: 50px;
  color: #666;
  padding: 20px;
  clear: both; }

footer a {
  margin: 20px;
  color: #666;
  text-decoration: none;
  margin-left: 40%; }

footer a:visited {
  color: white; }

.rowWrapper {
  width: 100%;
  height: 75px;
  float: left;
  margin: 20px 0px 0px 13px; }

/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.staticWrapper {
  width: 100%;
  height: 500px;
  /*background-color: red;*/
  float: left; }

.innerWrapper {
  width: 50%;
  height: 500px;
  background-color: yellow;
  float: left;
  margin-left: 13%; }

.twitterIcon {
  background-image: url("../img/twitter.png");
  width: 40px;
  height: 40px;
  margin: 10px; }

.facebookIcon {
  background-image: url("../img/facebook.png");
  width: 40px;
  height: 40px;
  margin: 10px; }

.googlePlusIcon {
  background-image: url("../img/googlePlus.png");
  width: 40px;
  height: 40px;
  margin: 10px; }

.no-margin {
  margin: 0px 0px 0px 0px !important; }

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/*Contact form Styling Conor Byrne */
label {
  display: block;
  margin-top: 20px;
  letter-spacing: 2px; }

/* Style the text boxes */
input, textarea {
  width: 439px;
  height: 27px;
  background: #efefef;
  border: 1px solid #dedede;
  padding: 10px;
  margin-top: 3px;
  font-size: 0.9em;
  color: #3a3a3a; }

textarea {
  height: 213px;
  background: url(images/textarea-bg.jpg) right no-repeat #efefef; }

input, textarea {
  width: 439px;
  height: 27px;
  background: #efefef;
  border: 1px solid #dedede;
  padding: 10px;
  margin-top: 3px;
  font-size: 0.9em;
  color: #3a3a3a;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

input:focus, textarea:focus {
  border: 1px solid #97d6eb; }

#submit {
  width: 127px;
  height: 38px;
  /* background-color:red;*/
  text-indent: -9999px;
  border: none;
  margin-top: 20px;
  cursor: pointer; }

#submit:hover {
  opacity: .9; }

#contact_form {
  padding: 20px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #666666;
  /*  background:#FAFAFA;*/
  margin-right: auto;
  margin-left: auto; }
  #contact_form legend {
    font-size: 15px;
    color: #C9C9C9; }
  #contact_form label {
    display: block;
    margin-bottom: 5px; }
  #contact_form label span {
    float: left;
    width: 100px;
    color: #666666; }
  #contact_form input {
    height: 25px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    padding-left: 4px;
    color: #666;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif; }
  #contact_form textarea {
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    padding-left: 4px;
    color: #666;
    height: 100px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif; }

.submit_btn {
  border: 1px solid #D8D8D8;
  padding: 5px 15px 5px 15px;
  color: #8D8D8D;
  text-shadow: 1px 1px 1px #FFF;
  border-radius: 3px;
  background: #F8F8F8; }

.submit_btn:hover {
  background: #ECECEC; }

.success {
  background: #CFFFF5;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #B9ECCE;
  border-radius: 5px;
  font-weight: normal; }

.error {
  background: #FFDFDF;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #FFCACA;
  border-radius: 5px;
  font-weight: normal; }

.margin-top-30 {
  margin-top: 30px !important; }

/*.concon{
  background-color: red;
}*/
.floatLeft {
  float: left !important; }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  h1 {
    font-size: 1rem !important; }

  .mainAboutWrapper .links {
    margin: 1% 0px 0px 0px;
    padding-left: 3%; }

  .googlePlusIcon, .facebookIcon, .twitterIcon {
    margin: 10px 4px 0px 0px; }

  #logo {
    /*display: none;*/
    font-size: 18px;
    padding-top: 30px;
    /*   width: 20%*/ }

  nav {
    margin-right: 25%;
    font-size: 20px; }

  #contentText {
    padding: 30px 20px 20px 0px;
    width: 100% !important; }

  /* .socialWrapper{
     display: none;
   }*/
  .no-margin-mobile {
    margin: 0px 0px 0px 0px; }

  ul {
    margin: 0px 0px 0px 0px !important; }

  .imgWrapper {
    background-color: white !important;
    width: 100% !important;
    height: none;
    margin-left: 0;
    float: none;
    margin-top: 0%;
    padding: 5px;
    overflow: hidden; }

  .contentWrapper {
    width: 90% !important;
    /* float: left; */
    /* margin-top: 4%; */
    margin-left: 2% !important;
    /* height: 1000px; */ }

  .lightBoxOverlay {
    float: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%; } }

/*# sourceMappingURL=style.css.map */
